@import "tailwindcss";

:root {
  --background: #f8f9fa;
  --foreground: #212529;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Serif SC", "SimSun", serif;
}
